{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Speakers</title>
{% endblock meta %}
 
{% block content %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<!--navbar-->
<body>
  <header aria-label="Site Header" class="top-0 shadow-xl bg-white">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-24 items-center justify-between">
        <div class="flex-1 md:flex md:items-center md:gap-12">
          <a class="block text-[#412D7E] hover:text-[#FED307] font-semibold flex flex-row h-24 gap-2" href="/">
            <img clas='mt-3' src="{% static 'home/acb_isbe.png' %}" alt="ACB-ISBE">
            <div class="hidden md:flex text-xl items-center justify-between">
              <h1 class="font-bold">ACB-</h1>
              <h1 class="font-medium">ISBE</h1>
            </div>
          </a>
        </div>
  
        <div class="md:flex md:items-center md:gap-12">
          <nav aria-label="Site Nav" class="hidden lg:block">
            <ul class="flex items-center gap-6 text-md font-normal text-[#412D7E]">
              <li>
                <a
                  class="transition hover:text-[#FED307]"
                  href="/"
                >
                  Home
                </a>
              </li>
  
              <li>
                <a
                  class="transition hover:text-[#FED307]"
                  href="/"
                >
                  Authors
                </a>
              </li>
  
              <li>
                <a
                  class="transition hover:text-[#FED307]"
                  href="/"
                >
                  Publication
                </a>
              </li>
  
              <li>
                <a
                  class="transition hover:text-[#FED307]"
                  href="/"
                >
                  Event
                </a>
              </li>
  
              <li>
                <a
                  class="text-[#FED307] transition hover:text-[#FED307]"
                  href="{% url 'speakers:show_speakers' %}"
                >
                  Speakers
                </a>
              </li>

              <li>
                <a
                  class="transition hover:text-[#FED307]"
                  href="/"
                >
                  Sessions
                </a>
              </li>
            </ul>
          </nav>
  
          <div class="flex items-center gap-4">
            <div class="sm:flex sm:gap-4">
              <a
                class="rounded-md bg-[#412D7E] h-full px-5 py-2.5 text-sm font-medium text-white shadow"
                href="{% url 'home:login' %}"
              >
                Login
              </a>
  
              <div class="hidden sm:flex">
                <a
                  class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-[#1C3265]"
                  href="{% url 'home:register' %}"
                >
                  Register
                </a>
              </div>
            </div>
  
            <div class="block lg:hidden">
              <button
                class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 6h16M4 12h16M4 18h16"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<!--Search Bar-->
  <div class="searchbox border-[#FFFFFF] px-4 sm:px-4 py-2.5 dark:bg-[#FFFFFF]">
    <form action="{% url 'speakers:search_speakers' %}" method="get">
        <input name="q" type="text" class="block block p-2 pl-10 w-full text-[#412D7E] bg-[#F3F4F6] rounded-lg border border-[#FFFFFF] sm:text-sm focus:ring-[#412D7E] focus:border-[#412D7E] dark:bg-[#F3F4F6] dark:border-[#FFFFFF] dark:placeholder-[#412D7E] dark:text-white dark:focus:ring-[#412D7E] dark:focus:border-[#412D7E]" placeholder="Search name of speaker..." >
    </form>
  </div>

<!--Content-->
<section class="bg-white">
  <div class="relative">
    <img class="max-w-full h-auto" src="{% static 'speakers/biomed-engineering 2.png' %}" alt="biomed-eng">
    <div class="absolute w-full py-3 bottom-0">
      <h2 class="text-center inset-x-0 text-4xl font-bold text-[#412D7E] tracking-tight sm:text-5xl">
        Speakers of ACB-ISBE 2022
      </h2>
      <p class="text-gring-offset text-center mx-auto mt-4 max-w-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        praesentium natus sapiente commodi. Aliquid sunt tempore iste
        repellendus explicabo dignissimos placeat, autem harum dolore
        reprehenderit quis! Quo totam dignissimos earum.
      </p>
      <a href="#speakers" class="w-full text-center group mt-4 flex justify-center items-center gap-1 text-sm font-medium text-[#412D7E]">
        <span
        aria-hidden="true"
        class="block transition group-hover:translate-x-0.5"
        >&#8964;
      </span>
      </a>
    </div>
  </div>
  <div id="speakers">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8">  
      <div
        class="mt-16 grid grid-cols-1 gap-8 sm:grid-cols-2 sm:gap-16 lg:grid-cols-3"
      >
      {% for speakers in list_speakers %}
        <div class="group-hover:translate-x-0.5">
          <img
            alt="Default photo"
            src="{% static 'speakers/default.jpeg' %}"
            class="mx-auto h-24 w-24 rounded-full object-cover shadow-xl"
          />
          <blockquote
            class="-mt-6 flex flex-col justify-between rounded-lg p-12 text-center shadow-xl"
          >
            <p class="text-lg font-bold text-gray-700">{{ speakers.name }}</p>
            <p class="mt-1 text-xs font-medium text-gray-500">
              {{ speakers.affiliation }}
            </p>
            <p class="mt-1 text-xs font-medium text-gray-500">
              {{ speakers.country }}
            </p>  
            <div class="mt-8 flex justify-center gap-0.5 text-green-500">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
                </svg>
            </div>
            <a
            href="show_speakers_info/{{speakers.id}}"
            class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-[#412D7E]"
            >
            Details
            <span
            aria-hidden="true"
            class="block transition group-hover:translate-x-0.5"
            >&rarr;
            </span>
            </a>
          </blockquote>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>  

{% endblock content %}