{% extends 'base.html' %}

{% block content %}
<style>
    #center{
    text-align:center;
    margin:auto;
    border:3px solid green;
    padding:10px;
}</style>


<p class="text-center my-10 text-5xl font-bold">Authors</p>


<form method="get">
    <div class="mx-64 flex justify-center">
        <input type="text" name="authors__icontains" id="id_authors__icontains" class="mx-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Author(s) by name">
        <button type="submit" class="mx-3 inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg aria-hidden="true" class="mr-2 -ml-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>Search
        </button>
    </div>
</form>
<div class="grid justify-items-center my-10" id="rowcontainer">

</div>

{% for item in authors %}
<div class="grid justify-items-center my-10">


<div class="min-w-[768px] max-w-3xl rounded overflow-hidden shadow-md " style="cursor: pointer">
    <div class="px-6 py-4">
        <div class="font-bold text-xl">{{item.full_name}}</div>
        <p class="text-gray-700 text-base">
            {{item.email}}
        </p>
        <p class="text-gray-500 text-base text-sm italic">
        
            {{item.country}}
        </p>
        <p class="text-gray-500 text-base text-sm italic">
            Submission ID: {{item.submission_id}}
        </p>
    </div>
</div>
</div>
{% endfor %}







{% endblock content %}